body {
    background-color: aqua;
}

h2, p, em {
    font-size: 20px;
    border-width: 10px, 5px;
}

p {
    /*font-family: "Verdana";*/
    /*font-family: 'Verdana';*/
    font-family:  Verdana;
}

h2 {
    border: 1px solid RED;
    /*border-radius: 5px;*/
    /*border-width: 10px, 8px, 6px, 4px;*/
    border-width: 10px, 5px;
    border-width: 10px, 5px, 2px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-color: goldenrod;
    border-right-color: green;
    border-bottom-color: pink;
    border-left-color: skyblue;
    border-top-style: groove;
    border-bottom-style: dotted;
    padding: 20px;
    margin: 30px


}