/* seletor universal */
* {
    background-color: brown;
}
/* seletor por TAG */
body { 
    background-color: brown;
}
/* seletor por class */
.corrente {
    background-color: chocolate;
}
/* seletor por id */
#texto {
    background-color: chartreuse
}

ul li {
    background-color: deeppink;
}

.corrente:hover {
    background-color: white;
}